
.register {
  width: 420px;
  height: 550px;
  text-align: center;
  border-radius: 5%;
  /*border: 2%;*/
  color: white;
  box-shadow: 0 0 10px ;
  background-color: rgba(27, 25, 25, 0.4)
}



.register>.header {
  font-size: 230%;
  color: white;
  font-weight: bolder;
  text-align: center;
  padding-top: 1%;
  margin-bottom: 4%;

}

.register>.inputUser {
  text-align: left;
  padding-left: 10%;
  color: white;
  font-size: 120%;
}

.inputId {
  width: 40%;
  height: 7%;
  border: none;
  color: black;
  outline: none;
  margin-bottom: 5%;
  border-bottom: 1px solid white;

}



.myButton {
  margin-top: 30px;
  width: 290px;
  height: 35px;
  border-radius: 15px;
  border: none;
  outline: none;
  color: white;
  background: gray

}


.bodyLogin {

  background-image: url('../shared_background.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;


}

.forget {
  float: right;
  padding-right: 5%;
  margin-bottom: 10%;
  padding-top: 4%;
  font-size: 80%;
}

.end {
  margin-top: 20px;
}

.bye {
  margin-top: 10px;
}

.icons {
  font-size: 150%;
  text-align: center;

}

#addon-wrapping1 {
  background-color: rgb(1, 1, 55);
  color: white;
}
#addon-wrapping2 {
  background-color: rgb(1, 1, 55);
  color: white;
}

.input-group-login {
  width: 90%;
}

.icon-join-us {
  font-size: 250%;
}

.form-control:focus{
  border-color: rgb(1, 1, 55);
  box-shadow: 0 0 0 0.1rem rgb(1, 1, 55) ;

}

a {
  color: white;

}

.VCheck {
  float: left;
  margin-top: 15%;
  font-size: 85%;

}

input.myBox {
  accent-color: rgb(1, 1, 55);
  width: 20px;
  height: 20px;

}

.LoginButton {
  margin-bottom: 5%;
  margin-top: 35%;
  text-align: center;
}

.btn-secondary {

  height: 9%;
  margin-right: 7%;
  width: 70%;
  background-color: rgb(1, 1, 55);
  font-size: 100%;
  --bs-btn-color: #fff;
  --bs-btn-bg: rgb(1, 1, 55);
  --bs-btn-border-color: rgb(1, 1, 55);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: rgb(16, 16, 71);
  --bs-btn-hover-border-color: rgb(1, 1, 55);
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: rgb(1, 1, 55);
  --bs-btn-active-border-color: rgb(1, 1, 55);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: rgb(1, 1, 55);
  --bs-btn-disabled-border-color: rgb(1, 1, 55);
}

.ending {
  margin-top: 2%;
  text-align: center;
  font-size: 100%;
}

.endingLink {
  margin-top: 1%;
  text-align: center;
  font-size: 100%;
}